<!DOCTYPE html>
<html class="scroll-smooth" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ '/tailwind.css' | url }}">
    <script>document.documentElement.classList.add('js')</script>
</head>

<body>
    {% include 'nav.njk' %}
    <main class="relative min-h-screen bg-lavender text-obsidian transition-colors duration-700 overflow-hidden"
        data-bg-scroll>
        {% include 'scroll_to_top.njk' %}

        {{ content | safe }}

        {% include 'footer.njk' %}
    </main>

    <script src="{{ 'assets/js/bg_scroll.js' | url }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/scroll_to_top.js' | url }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/copy_email.js' | url }}" type="text/javascript"></script>
    <script src="{{ 'assets/js/mobile_nav.js' | url }}" type="text/javascript"></script>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js" type="text/javascript"></script>
</body>

</html>