<!DOCTYPE html>
<html class="scroll-smooth" lang="en">

<head>
    {% include 'head.njk' %}
</head>

<body>
    <main class="home relative min-h-screen bg-lavender text-obsidian transition-colors duration-700 overflow-hidden"
        data-bg-scroll>
        {% include 'nav.njk' %}
        {% include 'scroll_to_top.njk' %}

        {{ content | safe }}

        {% include 'footer.njk' %}
    </main>

    {% include 'scripts.njk' %}
</body>

</html>