<!DOCTYPE html>
<html class="scroll-smooth" lang="en">

<head>
    {% include 'head.njk' %}
</head>

<body class="home">
    {% include 'nav.njk' %}
    <main class="relative min-h-screen bg-lavender text-obsidian transition-colors duration-700 overflow-hidden"
        data-bg-scroll>
        {% include 'scroll_to_top.njk' %}

        {{ content | safe }}

    </main>

    {% include 'footer.njk' %}
    {% include 'scripts.njk' %}
    <script src="{{ '/assets/js/bg_scroll.js' | url }}" type="text/javascript"></script>
</body>

</html>