<!DOCTYPE html>
<html class="scroll-smooth" lang="en">

<head>
    {% include 'head.njk' %}
</head>

<body class="internal">
    {% include 'nav.njk' %}
    <main class="text-obsidian bg-cream">
        {% include 'scroll_to_top.njk' %}

        {{ content | safe }}


    </main>

    {% include 'contact.njk' %}
    {% include 'footer.njk' %}

    {% include 'scripts.njk' %}
</body>

</html>