{# Section: Contact #}
<section id="contact" aria-labelledby="contact-label" class="contain-wide margins-x-wide margins-y"
    data-bg-class="bg-lime">
    <div class="grid grid-cols-1 md:grid-cols-8">
        <div class="md:col-span-4 duration-[1200ms] taos:opacity-0 ease-in-out" data-taos-offset="100">
            <h2 class="mt-0" id="contact-label">
                Let's Collaborate!
                Reach Out for a Quote or Project Discussion.
            </h2>
            <p class="p-bigger">I'm available for freelance design projects, consulting, workshops and
                giving talks. <br class="hidden md:inline"><wbr>I also offer mentoring on <a
                    href="https://adplist.org/mentors/nando-rossi" target="_blank">ADPList</a>.</p>
        </div>
        <div
            class="md:col-start-6 md:col-span-3 flex flex-col items-start sm:gap-y-4 lg:gap-y-6 delay-[300ms] duration-[1200ms] taos:opacity-0 ease-in-out">
            <h4 class="mt-8 md:m-0 max-sm:text-3xl">Contact Me</h4>

            <button onclick="copyEmail()" aria-label="Copy email to clipboard"
                class="contact-button max-sm:w-full flex relative">
                <div class="flex items-center mx-auto">
                    <h5 id="email">talk@nan.do</h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="41" viewBox="0 0 40 41"
                        fill="currentcolor" class="w-8 ml-4">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M13.5001 9C13.3383 9 13.1778 9.00549 13.0187 9.01629C13.265 5.92877 15.8486 3.5 18.9995 3.5H28.9995C32.3132 3.5 34.9995 6.18629 34.9995 9.5V25.5C34.9995 28.8137 32.3132 31.5 28.9995 31.5H28.339C28.4445 31.0168 28.5001 30.5149 28.5001 30V16C28.5001 12.134 25.366 9 21.5001 9H13.5001ZM11 10.5C7.68629 10.5 5 13.1863 5 16.5V32.5C5 35.8137 7.68629 38.5 11 38.5H21C24.3137 38.5 27 35.8137 27 32.5V16.5C27 13.1863 24.3137 10.5 21 10.5H11Z" />
                    </svg>
                </div>
                <span id="copied-message"
                    class="text-xl font-bold absolute capitalize opacity-0 inset-0 w-full h-full bg-obsidian text-cream flex items-center justify-center transition-opacity duration-300">
                    Copied to clipboard!
                </span>
            </button>

            <ul class="flex flex-row items-start gap-8 max-sm:mt-8 contact-social">
                <li><a href="https://www.linkedin.com/in/nandorocker/" target="_blank" rel="noopener noreferrer"
                        title="LinkedIn"><img src="assets/images/social-linkedin.svg" class="w-12" alt="LinkedIn"></a>
                </li>
                <li><a href="https://www.threads.net/@nandorocker" target="_blank" rel="noopener noreferrer"
                        title="Threads"><img src="assets/images/social-threads.svg" class="w-12" alt="Threads"></a></li>
                <li><a href="https://dribbble.com/nandorocker" target="_blank" rel="noopener noreferrer"
                        title="Dribbble"><img src="assets/images/social-dribbble.svg" class="w-12" alt="Dribbble"></a>
                </li>
                <li><a href="https://adplist.org/mentors/nando-rossi" target="_blank" rel="noopener noreferrer"
                        title="Get Mentored at ADPList"><img src="assets/images/social-adplist.png" class="w-12"
                            alt="ADPList"></a>
                </li>
            </ul>
        </div>
    </div>