<footer class="global-margins footer-global">
    <hr class="border-t-0 border-b border-obsidian sm:col-span-3 md:col-span-5 mb-12">
    <section aria-labelledby="footer-nav" aria-labelledby="footer" data-bg-class="bg-lime">
        <h6 id="footer-nav">Sections</h6>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/#work">Work</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
    </section>

    <section aria-labelledby="footer-services">
        <h6 id="footer-services">Services</h6>
        <ul>
            <li>Direction &amp; Strategy Consultation</li>
            <li>Product Design &amp; Prototyping</li>
            <li>Workshops</li>
            <li>UX for Game Dev</li>
        </ul>
    </section>

    <section aria-labelledby="footer-contact">
        <h6 id="footer-contact">Contact</h6>
        <ul>
            <li><a href="https://www.linkedin.com/in/nandorocker/">LinkedIn</a></li>
            <li><a href="https://www.threads.net/@nandorocker">Threads</a></li>
            <li><a href="/#contact">Email</a></li>
        </ul>
    </section>

    <small class="sm:col-span-3 md:col-span-5 pt-24">2024 &copy; Nando Rossi, All Rights Reserved.</small>
</footer>