<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ "nan.do: " + title if title else "nan.do rossi, freelance product designer" }}</title>
<meta name="description"
    content="Nando Rossi, a freelance UX and product designer based in Prague, combines 20 years of expertise in creating engaging, user-centered experiences for mobile and web. Partnering with brands like Lego, Nissan, and Disney, Nando brings soulful, strategic design to life through creativity, insight, and process.">
<meta name="keywords"
    content="UX designer, product designer, mobile app design, web design, freelance designer, Prague, user-centered design, Tailwind CSS, front-end development, interactive media, digital strategy, game UX">
<!-- Open Graph tags for social media sharing -->
<meta property="og:title" content="Freelance UX & Product Designer | Nando Rossi">
<meta property="og:description"
    content="Transforming ideas into engaging, beloved products with 20 years of design experience for brands like Lego, Disney, and Walgreens. Based in Prague, available for freelance and consulting work.">
<meta property="og:image" content="https://nan.do/assets/images/nando_rossi_og.jpg">
<meta property="og:url" content="https://nan.do">
<meta property="og:type" content="website">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ '/tailwind.css' | url }}">
<link rel="shortcut icon" href="/favicon.png" sizes="32x32" type="image/x-icon">
<script>document.documentElement.classList.add('js')</script>