<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ "nan.do: " + title if title else "nan.do rossi, freelance product designer" }}</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ '/tailwind.css' | url }}">
<link rel="shortcut icon" href="/favicon.png" sizes="32x32" type="image/x-icon">
<script>document.documentElement.classList.add('js')</script>