<header class="mx-auto px-5 md:px-16 xl:max-w-screen-2xl duration-[1200ms] taos:opacity-0 ease-in-out">
    {# Extra div to get the underline #}
    <div class="md:flex md:justify-between md:items-center border-b border-obsidian">
        <div class="flex items-center justify-between lowercase text-obsidian" aria-label="Global">
            {# Group 1 (left) #}
            <div class="flex md:flex-1">
                {# Logo #}
                <a href="https://nan.do" class="py-4 md:py-6 flex-1 text-2xl sm:max-md:text-xl font-semibold">
                    <span>nan.do</span>
                </a>
                {# End Logo #}
            </div>

            {# Group 2 (mobile nav toggle) #}
            <div class="flex md:hidden">
                <button id="menu-toggle" type="button"
                    class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                </button>
            </div>
        </div>

        {# Group 3 (menu items) #}
        <nav id="menu"
            class="text-center md:text-left text-xl w-full md:w-auto pb-6 md:py-6 hidden md:flex flex-col md:flex-row space-y-4 md:space-y-0 md:flex-1 md:justify-end md:gap-x-4">
            <a href="/#work" class="py-1 px-4">Work</a>
            <a href="/#about-me" class="py-1 px-4">About Me</a>
            <a href="/#services" class="py-1 px-4">Services</a>
            <a href="#contact"
                class="border-2 py-1 px-3 lg:px-4 rounded-md border-obsidian shadow-sm-flat-r transition-colors hover:bg-lavender-200 hover:text-obsidian">Contact</a>
        </nav>
    </div>
</header>