<script src="{{ '/assets/js/cookie_consent.js' | url}}" type="text/javascript"></script>
<script src="{{ '/assets/js/scroll_to_top.js' | url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/copy_email.js' | url }}" type="text/javascript"></script>
<script src="{{ '/assets/js/mobile_nav.js' | url }}" type="text/javascript"></script>
<script src="https://unpkg.com/taos@1.0.5/dist/taos.js" type="text/javascript"></script>