<!-- Back to top button -->
<button type="button" data-twe-ripple-init data-twe-ripple-color="light"
    class="!fixed px-4 bottom-5 end-5 opacity-40 hidden sm:flex items-center gap-x-2 rounded-full bg-slate-900 p-3 text-xs font-medium uppercase leading-tight text-white shadow-md transition-opacity duration-300 ease-in-out hover:opacity-100 hover:shadow-lg focus:opacity-100 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-slate-900 active:shadow-lg"
    id="btn-back-to-top">
    <span class="[&>svg]:w-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5 12 3m0 0 7.5 7.5M12 3v18" />
        </svg>
    </span>
    top
</button>