<footer class="footer-container" aria-label="footer" data-bg-class="bg-lime">
    <div class="mx-auto px-5 md:px-16 xl:max-w-screen-2xl footer duration-[1200ms] taos:opacity-0 ease-in-out">
        <hr class="w-full border-t-0 border-b border-obsidian sm:col-span-3 md:col-span-5 mb-12">
        <section aria-labelledby="footer-nav" aria-labelledby="footer" data-bg-class="bg-lime">
            <h2 id="footer-nav" class="text-h6">Sections</h2>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#work">Work</a></li>
                    <li><a href="/#about">About Me</a></li>
                    <li><a href="/#services">Services</a></li>
                </ul>
            </nav>
        </section>

        <section aria-labelledby="footer-services">
            <h2 id="footer-services" class="text-h6">Services</h2>
            <ul>
                <li>Direction &amp; Strategy Consultation</li>
                <li>Product Design &amp; Prototyping</li>
                <li>Workshops</li>
                <li>UX for Game Dev</li>
            </ul>
        </section>

        <section aria-labelledby="footer-services">
            <h2 id="footer-services" class="text-h6">Legal</h2>
            <ul>
                <li>Privacy Policy</li>
                <li><a href="/cookies">Cookie Policy</a></li>
            </ul>
        </section>

        <section aria-labelledby="footer-contact">
            <h2 id="footer-contact" class="text-h6">Contact</h2>
            <ul>
                <li><a href="https://www.linkedin.com/in/nandorossi/" target="_blank"
                        rel="noopener noreferrer">LinkedIn</a></li>
                <li><a href="https://www.threads.net/@nandorocker" target="_blank" rel="noopener noreferrer">Threads</a>
                </li>
                <li><a href="https://dribbble.com/nandorossi" target="_blank" rel="noopener noreferrer">Dribbble</a>
                </li>
                <li><a href="/#contact" target="_blank" rel="noopener noreferrer">Email</a></li>
            </ul>
        </section>

        <small class="sm:col-span-3 md:col-span-5 pt-24 text-center">{% year %} &copy; Fernando Rossi. All rights
            reserved. Images
            and content from featured works are the property of their respective companies and are used here with
            permission for portfolio purposes.</small>
    </div>
</footer>