---
title: "Redefining the digital viewing landscape of the Berlin Philharmonic."
layout: "casestudy.njk"
section: "work"
client: "Berlin Philharmonic"
deliverables:
- "Multiplatform UX/UI Design"
- "User Research"
- "Design System"
- "Email Design"
overview: "The Berlin Philharmonic is ranked one of the top orchestras in the world. Their Digital Concert Hall is a
pioneer of its kind, streaming premium, original content to subscribers—on practically any device—since 2008. Under my
former company Ox, I worked closely with the team to solve the difficult problem of user experience consistency across a
constantly changing tech environment, maintainability and team inclusion."
background: "digital-concert-hall/orchestra.jpg"
---
<section class="contain-narrow margins-x-wide">
    <h3>Background</h3>
    <p>As a streaming service with original, high-quality content and a passionate following around the world,
        it's
        no
        wonder the Digital Concert Hall has been a hit from day one. But the device landscape has shifted
        several
        times
        since 2008, and as the number of clients multiplied, problems began to surface.
        Without a centralized design team, the interface was recreated for each new client, with different user
        flows,
        creating a dissonant experience for users—and a difficult task for the BPH team.</p>
    <h3>The Challenges</h3>
    <ul>
        <li> Meet the diverse and constantly evolving requirements of each platform, while maintaining a
            consistent
            feel
            and recognizable brand</li>
        <li>Simplify and unify app components and user flows, leaving room to leverage each platform's strengths
        </li>
        <li>Work swiftly within a small, startup-like structure and help create better product design processes
        </li>
        <li>Understand our users, their realities, desires and needs and deliver an experience that feels as
            premium
            as
            the content</li>
        <li>Prioritize accessibility and inclusion</li>
    </ul>
</section>

<section class="contain-wide margins-x-narrow my-16 md:my-24 flex flex-col space-y-8 sm:space-y-16 xl:space-y-24">
    <img src="/assets/images/work/digital-concert-hall/apple-tv-scene.png" alt=""
        class="sm:w-9/12 rounded-md shadow-lg-flat-r">
    <img src="/assets/images/work/digital-concert-hall/apple-tv-app.png" alt=""
        class="sm:w-9/12 rounded-md shadow-lg-flat-r self-end">
</section>

<section class="contain-narrow margins-x-wide">
    <h3>Our process</h3>
    <p>For the launch of the tvOS app store, we got to rebuild the app from the ground up. We worked closely
        with our Smart TV team as well as Apple and delivered an experience that delighted users, as well as
        stakeholders, collecting an "App of the Year (Japan)" award.</p>

    <h3>The design system</h3>
    <p>With full client approval, we moved on to the next question: how to port this successful experience to all other
        platforms? The answer was a platform-agnostic design system. This not only facilitated the design of new
        clients, but also streamlined communication with developers.</p>

</section>

<section class="w-full my-16 md:my-24">
    <picture class="w-full">
        <img src="/assets/images/work/digital-concert-hall/design-system-collage.png" alt="">
    </picture>
</section>

<section class="contain-wide margins-x-wide">

    <div
        class="grid grid-cols-1 sm:grid-cols-[1fr_2fr] lg:grid-cols-[0.6fr_1.4fr] gap-x-8 lg:gap-x-16 my-16 md:my-24 items-start">
        <img src="/assets/images/work/digital-concert-hall/process-nando.png" alt=""
            class="max-sm:hidden lg:w-full rounded-md shadow-lg-flat-r">
        <div>
            <h3>Closer to users</h3>
            <ul>
                <li>Fully redesigned web client based on implemented system</li>
                <li>Focus on user-centered design and accessibility</li>
                <li>Through metrics, realized we needed to simplify and optimize the subscription model</li>
                <li>Implemented more actionable metrics</li>
                <li>Creating the foundation for a more data-driven roadmap</li>
            </ul>
        </div>
    </div>
</section>
<section class="contain-narrow margins-x-wide">
    <h3>
        Business design: <br>optimizing processes
    </h3>

    <p>With Ox as the center of product design, it became clear that an in-house team would be beneficial. We
        advised
        and supervised the building of a development and design team, which is flourishing and growing every
        month.
    </p>
    <p>Ox also helped implement a design culture by improving processes and educating employees. With the design
        system,
        anyone in the company can provide better feedback, for which we implemented a pipeline that leads to
        continuous
        optimization through iteration.</p>

</section>