---
title: "nan.do - Redefining the digital viewing landscape of the Berlin Philharmonic."
layout: "casestudy.njk"
---
{# todo: bring this whole thing into the template #}
<div class="bg-cream"> {# todo: convert this into main #}

    {# Top Header #}
    <header class="bg-lavender min-h-80 margins-x-wide pt-32">
        <div class="contain-medium">
            <h6 class="mb-4">Case Study</h6>
            <h3>Digital Concert Hall: <br>
                Delivering a premium Experience at scale.</h3>
        </div>

        {# Metadata #}
        <article
            class="relative -bottom-32 mx-auto max-w-screen-lg grid grid-cols-3 blog-summary window-rounded border window-rounded-margins shadow-md-flat-r bg-cream">
            <div class="col-span-1">
                <div>
                    <h6 class="mt-0">Client</h6>
                    <p>Berlin Philharmonic</p>
                </div>
                <div>
                    <h6>Deliverables</h6>
                    <ul>
                        <li>Multiplatform UX/UI Design</li>
                        <li>User Research</li>
                        <li>Design System</li>
                        <li>Email Design</li>
                    </ul>
                </div>
            </div>
            <div class="col-span-2">
                <h6 class="mt-0">Overview</h6>
                <p class="">
                    The Berlin Philharmonic is ranked one of the top orchestras in the world. Their Digital Concert
                    Hall
                    is a pioneer of its kind, streaming premium, original content to subscribers—on practically any
                    device—since 2008. Under my former company Ox, I worked closely with the team to solve the
                    difficult
                    problem of user experience consistency across a constantly changing tech environment,
                    maintainability and team inclusion.
                </p>
            </div>
        </article>
    </header>

    <article class="contain-narrow margins-x-wide margins-y reading">
        {# Begin Blog Post #}
        <h3>Background</h3>
        <p>As a streaming service with original, high-quality content and a passionate following around the world, it's
            no
            wonder the Digital Concert Hall has been a hit from day one. But the device landscape has shifted several
            times
            since 2008, and as the number of clients multiplied, problems began to surface.
            Without a centralized design team, the interface was recreated for each new client, with different user
            flows,
            creating a dissonant experience for users—and a difficult task for the BPH team.</p>
        <h3>The Challenges</h3>
        <ul>
            <li> Meet the diverse and constantly evolving requirements of each platform, while maintaining a consistent
                feel
                and recognizable brand</li>
            <li>Simplify and unify app components and user flows, leaving room to leverage each platform's strengths
            </li>
            <li>Work swiftly within a small, startup-like structure and help create better product design processes</li>
            <li>Understand our users, their realities, desires and needs and deliver an experience that feels as premium
                as
                the content</li>
            <li>Prioritize accessibility and inclusion</li>
        </ul>

        <h3>Our process</h3>
        <p>For the launch of the tvOS app store, we got to rebuild the app from the ground up. We worked closely with
            our
            Smart TV team as well as Apple and delivered an experience that delighted users, as well as stakeholders,
            collecting an "App of the Year (Japan)" award.</p>

        <h3>The design system</h3>
        <p>With full client approval, we moved on to the next question: how to port this successful experience to all
            other
            platforms?
            The answer was a platform-agnostic design system. This not only facilitated the design of new clients, but
            also
            streamlined communication with developers.</p>

        <h3>Closer to users</h3>
        <ul>
            <li>Fully redesigned web client based on implemented system</li>
            <li>Focus on user-centered design and accessibility</li>
            <li>Through metrics, realized we needed to simplify and optimize the subscription model</li>
            <li>Implemented more actionable metrics</li>
            <li>Creating the foundation for a more data-driven roadmap</li>
        </ul>

        <h3>
            Business design: <br>optimizing processes
        </h3>

        <p>With Ox as the center of product design, it became clear that an in-house team would be beneficial. We
            advised
            and supervised the building of a development and design team, which is flourishing and growing every month.
        </p>
        <p>Ox also helped implement a design culture by improving processes and educating employees. With the design
            system,
            anyone in the company can provide better feedback, for which we implemented a pipeline that leads to
            continuous
            optimization through iteration.</p>

    </article>
</div>