---
title: "Spelling Magic: The Player Experience of Disney Spellstruck"
layout: "casestudy.njk"
section: "work"
client: "Artist Arcade, Disney"
deliverables:
- "Game Design"
- "Multiplatform UX/UI Design"
- "User Research"
- "Design System"
- "Email Design"
overview: "Disney SpellStruck reimagines the traditional word puzzle as a vibrant adventure through the Disney universe,
where players engage with beloved characters and delightful surprises. By leveraging Apple’s accessibility and design
principles, the game was crafted to provide an inclusive, engaging experience for players of all ages. The result was a
playful and scalable UX/UI design that seamlessly balanced Disney’s iconic charm with cross-platform usability,
culminating in a global hit that topped charts."
background: "spellstruck/spellstruck-bg2.png"
---
<section class="contain-narrow margins-x-wide">
    <h3>The Origin Story</h3>
    <p><a href="https://spellstruck.app/" target="_blank" rel="noopener noreferrer">Disney Spellstruck</a> was a
        collaboration between <a href="https://www.artistarcade.com/" target="_blank" rel="noopener noreferrer">Artist
            Arcade</a> and David Bettner, co-creator of <a href="https://en.wikipedia.org/wiki/Words_with_Friends"
            target="_blank" rel="noopener noreferrer">Words with
            Friends</a>, featuring a crew of most beloved Disney characters. We worked in direct partnership with
        Disney, and
        support from Apple Arcade, so the bar was high. This game was a group effort from a small team spread out across
        the globe and required meticulous planning and creative problem-solving—resulting in a dynamic, fun and
        much-loved product that topped charts and was prominently featured at WWDC as well as Disney's 100th anniversary
        campaign.</p>
</section>


<section class="contain-wide margins-x-wide illustration">
    <figure class="mx-auto w-full md:w-9/12 lg:w-1/2">
        <video width="640" height="480" controls loop
            class="w-full window-sm taos:translate-y-[5rem] duration-[600ms] ease-in-out" taos-data-offset="100">
            <source src="{{ images }}/work/spellstruck/launch-trailer.mp4" type="video/mp4">
            <!-- Your browser does not support the video tag. -->
        </video>
        <figcaption><span>The trailer of game launch.</span></figcaption>
    </figure>
</section>

{# <section class="margins-x-narrow contain-narrow illustration">
    <figure
        class="sm:w-8/12 max-w-[30rem] lg:w-7/12 md:max-w-[30rem] xl:w-7/12 mx-auto grid grid-cols-3 md:gap-x-8 justify-items-center">
        <img src="{{ images }}/work/spellstruck/oldgame-01.png"
            class="mt-4 w-9/12 md:w-full h-auto window-sm -rotate-2 taos:translate-y-[5rem] duration-[300ms] delay-[100ms] ease-out"
            alt="">
        <img src="{{ images }}/work/spellstruck/oldgame-02.png"
            class="w-9/12 md:w-full h-auto window-sm taos:translate-y-[5rem] duration-[300ms] ease-out" alt="">
        <img src="{{ images }}/work/spellstruck/oldgame-03.png"
            class="mt-4 w-9/12 md:w-full h-auto window-sm rotate-2 taos:translate-y-[5rem] duration-[300ms] delay-[200ms] ease-out"
            alt="">
        <figcaption class="col-span-3"><span>These first sketches were some of my starting points.</span></figcaption>
    </figure>
</section> #}

<section class="contain-narrow margins-x-wide">
    <h3>Words And Wonder</h3>
    <p>Putting a twist on a classic is one thing; doing that while making a game that's fun, clever and unexpected is a
        different beast. Doing all of
        that, plus using beloved characters and bringing a Disney-worthy experience... well, that presented some
        challenges:
    </p>
    <ul>
        <li><strong>Multi-Platform Support:</strong> Ensuring seamless gameplay across phones, tablets and TVs—through
            touch, keyboard + mouse, and gamepads.</li>
        <li><strong>The Disney Experience:</strong> Creating a magical, engaging experience that honored Disney’s iconic
            characters.</li>
        <li><strong>Apple Arcade’s Rules of Play:</strong> Adhering to family-friendly guidelines, with no in-app
            purchases,
            and delivering a polished, cohesive game experience.</li>
        <li><strong>Localization for a Global Audience:</strong> Ensuring the game’s word puzzles and UI were accurately
            translated into multiple languages while maintaining cultural relevance.</li>
        <li><strong>Iterative Content Design:</strong> Building systems that allowed frequent additions of Disney
            characters
            and features without disrupting existing gameplay mechanics.</li>
    </ul>
</section>

<section class="contain-medium margins-x-medium illustration">
    <figure class="mx-auto w-full grid grid-cols-2 sm:grid-cols-[.7fr,1.3fr,2fr] gap-4 justify-items-center">
        <img src="{{ images }}/work/spellstruck/device-01.png"
            class="w-4/6 sm:w-full sm:place-self-center taos:translate-y-[5rem] duration-[300ms] delay-[250ms]"
            alt="iPhone displaying the game board, with disney characters and a blue superpower across the screen">
        <img src="{{ images }}/work/spellstruck/device-03.png"
            class="w-11/12 sm:w-full place-self-center sm:place-self-end taos:translate-y-[5rem] duration-[300ms] delay-[150ms]"
            alt="SpellStruck on an iPad, with a close-up of Stitch licking the screen (using a superpower)">
        <img src="{{ images }}/work/spellstruck/device-02.png"
            class="w-full col-span-2 sm:col-auto taos:translate-y-[5rem] duration-[300ms] delay-[300ms]"
            alt="An iMac displaying the in-game map of an island.">
        <figcaption class="col-span-2 sm:col-span-3"><span>The game had to work for a wide variety of devices and input
                types.</span>
        </figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h3>The Approach</h3>
    <h4>What I Mean By "UI/UX"</h4>
    <p>In games, the term UI/UX is often understood as "Visual Design." To me, it's part UI designer, part game designer
        and part
        psychologist: I'm here to serve the game experience created by the team, as well as the player, through my
        knowledge
        of usability and psychology.</p>
    <p>In SpellStruck, my team's work comprised of several aspects:</p>
    <ul>
        <li><strong>Creating User Flows:</strong> understanding the rhythm of the game, as well as the order of screens,
            messages
            were crucial to encourage gameplay, make things intuitive and keep players coming back</li>
        <li><strong>Planning & designing screens and overlays:</strong> the layout of areas such as the home screen, as
            well as in-game
            overlays,
            sidebars, popups and messaging</li>
        <li><strong>Setting Controls:</strong> developing a control system that scaled to all Apple Arcade supported
            devices
        </li>
        <li><strong>Gameplay elements:</strong> the core elements used to play the game, as well as the messaging
            (verbal
            &amp; non-verbal) provided by those elements, for example, whether a move is allowed or not, correct or not,
            or
            the impact of events like power-ups.</li>

        <p>As lead UX, I also created a process and workflow for the UX team that accounted for exploration/trial and
            error, as well as production and handoff standards.</p>
    </ul>
    <h4>Iterative Prototyping</h4>
    <p>We tested frequently across devices. Rapid feedback cycles (both internal AND external) allowed us to hone
        interactions and address player needs before finalizing features.</p>
    <h4>Teamwork</h4>
    <p>Collaboration was at the heart of this project. Our team worked closely with Disney to ensure their iconic
        characters
        were faithfully represented. I created file and folder structures and patterns that enabled better
        communication, as well as continuous implementations after I was no longer in the team.</p>
    <h4>Usability and Accessibility</h4>
    <p>We followed the Apple Human Interface guidelines closely, prioritizing usability and accessibility in every
        control and information design decision.</p>
</section>

<section class="contain-wide margins-x-wide illustration">
    <figure
        class="mx-auto w-11/12 sm:w-full grid sm:grid-cols-[1.1fr,1.9fr] lg:grid-cols-[1.5fr,2.5fr,1fr] gap-16 max-sm:gap-y-8 sm:gap-x-8 justify-items-center">
        <div class="flex flex-col space-y-6 justify-self-end">
            <img src="{{ images }}/work/spellstruck/figma-thumb-01.png"
                class="w-2/5 sm:w-2/3 window-sm -rotate-3 taos:translate-y-[5rem] duration-[300ms] ease-out"
                alt="A thumbnail for Figma organization.">
            <img src="{{ images }}/work/spellstruck/figma-thumb-02.png"
                class="w-2/5 sm:w-2/3 window-sm self-center taos:translate-y-[5rem] duration-[300ms] delay-[150ms] ease-out"
                alt="A thumbnail for Figma organization.">
            <img src="{{ images }}/work/spellstruck/figma-thumb-03.png"
                class="w-2/5 sm:w-2/3 window-sm self-end rotate-2 taos:translate-y-[5rem] duration-[300ms] delay-[250ms] ease-out"
                alt="A thumbnail for Figma organization.">
        </div>
        <div class="flex flex-col space-y-8">
            <img src="{{ images }}/work/spellstruck/tools-01.png"
                class="w-10/12 sm:w-5/6 window-sm taos:translate-y-[5rem] duration-[300ms] delay-[350ms] ease-out"
                alt="A game type scale with fonts used in the project.">
            <img src="{{ images }}/work/spellstruck/tools-03.png"
                class="w-10/12 sm:w-5/6 window-sm self-end taos:translate-y-[5rem] duration-[300ms] delay-[450ms] ease-out"
                alt="A figma screenshot with icons used in-game.">
        </div>
        <img src="{{ images }}/work/spellstruck/tools-02.png"
            class="max-lg:hidden self-center window-sm w-1/2 lg:w-full taos:translate-y-[5rem] duration-[300ms] delay-[250ms] ease-out"
            alt="A screenshot of the Figma 'Pages' panel, displaying an organization system.">
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h3>The Process</h3>
    <p>Regardless of project, I always start with some standard practices: wireframing the player journey, and
        developing a
        simple and modular design system. The process is validate, test, iterate: start with well-known patterns,
        validate
        and then ask yourself: is this fun?</p>
</section>

<section class="contain-medium margins-x-medium illustration">
    <figure class="grid sm:grid-cols-2 md:grid-cols-3 md:grid-rows-2 gap-x-6 gap-y-8 justify-items-center">
        <img src="{{ images }}/work/spellstruck/process-01.png"
            class="w-10/12 sm:w-full window-sm taos:translate-y-[5rem] duration-[300ms] ease-out"
            alt="A chart entitled 'UI Fidelity'">
        <img src="{{ images }}/work/spellstruck/process-02.png"
            class="w-10/12 sm:w-full sm:col-start-1 sm:row-start-2 md:col-start-auto md:row-start-auto window-sm taos:translate-y-[5rem] duration-[300ms] delay-[150ms] ease-out"
            alt="Chart entitled 'Module Status' and a table with different fidelity levels at different moments.">
        <div
            class="w-10/12 sm:w-full sm:row-span-2 window-sm taos:translate-y-[5rem] duration-[300ms] delay-[350ms] ease-out">
            <video width="640" height="480" autoplay loop class="object-cover h-full"
                aria-label="A video displaying a series of user flows from a FigJam whiteboard.">
                <source src="{{ images }}/work/spellstruck/whiteboard.mp4" type="video/mp4">
                <!-- Your browser does not support the video tag. -->
            </video>
        </div>
        <div
            class="w-10/12 sm:w-full sm:col-span-2 window-sm taos:translate-y-[5rem] duration-[300ms] delay-[250ms] ease-out">
            <img src="{{ images }}/work/spellstruck/process-04.png" class="object-cover h-full"
                alt="A big flowchart showing a design team pipeline.">
        </div>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h4>The Tiles</h4>
    <p>The tile system is the core part of the gameplay. In normal Scrabble, all tiles look about the same. In our game,
        tiles were all individually designed to represent the characters. The Scrabble board is usually quite simple as
        well,
        with only different colors for different point values (double word, triple letter, etc), whereas in our case, we
        also had powerups and the gamepad cursor.
    </p>
    <p>Things got messy pretty quick, so it
        was
        my responsibility to come up with a system. After much iteration, the result was a combination of colors,
        outlines
        as well as VFX.</p>

</section>
<section class="contain-medium margins-x-medium illustration">
    <figure class="mx-auto grid sm:grid-cols-[1.8fr,1.2fr,1fr] max-sm:gap-y-16 gap-x-16 justify-items-center">
        <img src="{{ images }}/work/spellstruck/board-01.png"
            class="w-10/12 sm:w-full taos:translate-y-[5rem] duration-[300ms] ease-out"
            alt="A display of around 4x6 tiles designed based on disney characters.">
        <img src="{{ images }}/work/spellstruck/board-03.png"
            class="w-10/12 sm:w-full taos:translate-y-[5rem] duration-[300ms] delay-[150ms] ease-out"
            alt="The Scrabble-style game board with Mickey ears at the center.">
        <img src="{{ images }}/work/spellstruck/board-02.png"
            class="w-10/12 sm:w-full taos:translate-y-[5rem] duration-[300ms] delay-[250ms] ease-out"
            alt="The squares used in the game board, laid out on a grid.">
        <figcaption class="sm:col-span-3"><span>Tons of characters, tons of tiles. The "squares" and the final
                board.</span>
        </figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <p>But visuals were only one layer. While controlling the touch version was simple, gamepad was a concern. Nobody
        likes
        to type on a gamepad, fishing for letters one by one—yet this game is basically that. We needed to try things.
        Through very focused work sessions with Ferran, we used simple graphics and prototypes to answer the question:
        which
        controls are fastest and flow best? </p>
    <p>Some of our challenges:</p>
    <ul>
        <li>How to easily switch between board and tile rack?</li>
        <li>How to clearly visualize the cursor, among with all the other tile states?</li>
        <li>How to quickly manipulate letters in the rack (or shuffle them)</li>
        <li>How to correct mistakes</li>
    </ul>
    <p>Each of these problems was addressed in a "barebones" way, not too concerned about creative direction at first
        and
        thoroughly tested. Some of what we tried:</p>
    <ul>
        <li>Establish one button as "back", another "action"</li>
        <li>Use a color system exclusive to cursors, outside the art direction (akin to TV outlines)</li>
        <li>Create a "picked up" state for tiles that make them exaggeratedly big</li>
        <li>Cancel words with a simple button click</li>
        <li>and many others.</li>
    </ul>
    <p>Some of these immediately worked. Others took iterations, but we ultimately found the best combination that is in
        the
        game today.</p>

</section>
<section class="contain-wide margins-x-wide illustration">
    <figure
        class="mx-auto sm:w-full grid sm:grid-cols-2 max-w-screen-lg md:grid-cols-[1fr,1fr,2fr] gap-y-8 sm:gap-y-4 gap-x-8 justify-center items-start">

        <div
            class="w-3/4 sm:w-full sm:h-60 window-sm justify-self-end  taos:translate-y-[5rem] duration-[300ms] ease-out">
            <img src="{{ images }}/work/spellstruck/ui-01.png" class="object-cover md:h-full lg:w-full"
                alt="Screenshot of an in-game popup with an illustration.">
        </div>
        <div
            class="w-10/12 sm:w-full sm:h-60 sm:row-span-2 window-sm taos:translate-y-[5rem] duration-[300ms] delay-[150ms] ease-out">
            <video width="640" height="480" autoplay loop class="object-cover h-full">
                <source src="{{ images }}/work/spellstruck/dictionary-animation.mp4" type="video/mp4"
                    aria-label="Prototype of an in-game interaction, where the letters change color and word definition is displayed.">
                <!-- Your browser does not support the video tag. -->
            </video>
        </div>
        <div
            class="w-full sm:h-60 window-sm justify-self-end sm:max-md:col-span-2 taos:translate-y-[5rem] duration-[300ms] ease-out">
            <img src="{{ images }}/work/spellstruck/ui-03.png" class="object-cover sm:max-md:w-full sm:h-full"
                alt="Line-up of Disney characters used in-game against a night sky.">
        </div>

        <figcaption class="sm:col-span-2 md:col-span-3"><span>Some assorted UI details, and a small prototype.</span>
        </figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h4>Creating The World Map</h4>
    <p>Another challenge was the game map. Initially, we focused on making sure players could intuitively see their
        progress, access different levels, and understand what lay ahead. The initial challenges were not simple:</p>
    <ul>
        <li>Does the player understand the relationship between maps (i.e., the "world")</li>
        <li>Does the player know how many levels there are in this map?</li>
        <li>Can the player understand their progress?</li>
        <li>Can the player navigate without difficulty, on all input devices?</li>
    </ul>
    <p>From the start, we used rich graphics, but the interactive parts (paths, levels points, states) as well as
        transitions took many tries. There were many discussions and iterations about the <strong>active state</strong>,
        confirmation popups, transition between maps and what our two buttons did, as well as the touch/mouse
        equivalents.
    </p>
    <p>Considering the limitations, we have a robust and fairly usable implementation, where the core interactions are
        straightforward.</p>
</section>

<section class="contain-wide margins-x-wide illustration">
    <figure class="mx-auto w-full lg:w-2/3">
        <img src="{{ images }}/work/spellstruck/map-process.png" class="window-sm"
            alt="Screenshot of Figma displaying some map designs, as well as some notes for development.">
        <figcaption class=""><span>Map design process as well as handoff notes.</span>
        </figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h3>The Results</h3>
    <ul>
        <li><strong>App Store Charts:</strong> Achieved #1 on the App Store for weeks, remaining in the Top 20 for
            several months.</li>
        <li><strong>Celebrated Worldwide:</strong> Featured by Apple at WWDC and as part of Disney’s 100th Anniversary.
        </li>
        <li><strong>Lots of love:</strong> continue to inspire thriving fan communities, tons of social media posts and
            YouTube walkthroughs.</li>
        <li><strong>A Lasting Legacy:</strong> as part of Disney’s official game canon, SpellStruck continues to
            entertain audiences of all ages.</li>
    </ul>
</section>

<section class="contain-narrow margins-x-wide">
    <h3>What I Learned</h3>
    <p>Working within a game dev structure means not always having full control of product design. It's important to
        remain collaborative and contribute your share.</p>
    <p>At the same time, lead designers have an opportunity to create the means for better collaboration across
        disciplines, which
        always leads to better results. This is a principle I carry out in every project.</p>

    <p class="italic">Disclaimer: game images and videos © 2023 Disney. © 2023 Disney/Pixar. © 2023 Artist Arcade. The
        material
        displayed
        here is merely for informative purposes.</p>
</section>