---
title: "TestFlight: Solving Real Problems, with a whole lot of Character"
layout: "casestudy.njk"
section: "work"
client: "TestFlight"
deliverables:
- "UX/UI Design"
- "Brand Design"
- "User Research"
- "Systems Design"
- "Email Design"
overview: "TestFlight, now part of Apple, began as a project to make beta testing smoother and more accessible for
developers and testers alike. With a focus on both problem-solving and character, I led the startup's product design to
create a tool that
balanced robust functionality with a playful, relatable brand. This case study explores how our unique approach turned
TestFlight into an industry favorite—a product that solved real challenges while building a connection with its users,
ultimately leading to Apple’s acquisition."
background: "testflight/desk-testflight.jpg"
---
<section class="contain-narrow margins-x-wide">
    <h3 data-heading="The takeoff">The takeoff</h3>
    <p><em>TestFlight</em> was born out of a problem we’d been facing ourselves. In 2011, the App Store was
        still
        young, and tools for app testing were painfully limited. Beta testing required multiple, manual steps for each
        tester, making it nearly impossible to gather meaningful feedback at scale. At 23/, where we developed apps for
        major clients, these frustrations were part of our daily work. Distributing test
        versions
        required multiple manual steps for every tester, making it difficult to gather the valuable feedback we needed.
        Our
        founder, Ben Satterfield, saw an opportunity to streamline this process, and our team set out to create a tool
        that
        would make beta testing seamless.</p>
    <p>From the start, <em>TestFlight</em> wasn’t just about functionality—it had personality. From the first
        demo, Ben came up with the name, and designer Neven Mrgan created an initial concept and icon that although
        simple,
        sparked my imagination and inspired my direction for iterations to come: the blueprint of a propeller. In the
        coming
        months, I worked with creative prodigy and illustrator Vanja Mrgan to expand it, building a cohesive experience
        around our mascot, TestFlight Guy—an old-timey pilot scattering app icons across a blueprint field.</p>
    <p>I embraced this playful, approachable style to create a brand that developers would connect with.
        While I
        focused on making the interface intuitive and simplifying the beta distribution process, I was equally committed
        to
        making <em>TestFlight</em> feel fresh, reliable, and fun. We weren’t just building a tool; we were creating
        something developers would proudly display and engage with, evolving <em>TestFlight</em> into much more than we
        initially envisioned.</p>
</section>

<section
    class="contain-wide margins-x-narrow my-16 md:my-24 grid md:grid-cols-3 lg:grid-cols-[1.3fr,_2.4fr,_1.3fr] xl:grid-cols-[1fr,2fr,1fr] gap-y-16 md:gap-y-0 gap-8 xl:gap-0">
    <figure class="w-11/12 md:w-full md:ml-6 lg:ml-8 xl:ml-4 z-20">
        <img src="/assets/images/works/testflight/tf-square-character.png" alt=""
            class="rounded-md shadow-lg-flat-r md:-rotate-3">
        <figcaption class="mt-8 text-center md:text-left"><span class="bg-cream-300">TestFlight Guy, our golden sticker
                and the famous
                blueprint
                background. <em>(artwork by
                    Vanja
                    Mrgan)</em></span></figcaption>
    </figure>
    <figure class="w-11/12 md:w-full md:my-20 xl:my-40 z-10 place-self-end md:place-self-auto">
        <img src="/assets/images/works/testflight/takeoff-1.png" alt=""
            class="rounded-md shadow-lg-flat-r max-md:place-self-end">
        <figcaption class="mt-8 text-center"><span class="bg-cream-300">The first version of TestFlight (2011), in all
                its
                skeuomorphic glory.</span>
        </figcaption>

    </figure>
    <figure class="w-11/12 md:w-full md:mr-6 lg:mr-8 xl:mr-4 md:place-self-end z-0">
        <img src="/assets/images/works/testflight/takeoff-2.png" alt="" class="rounded-md shadow-lg-flat-r md:rotate-2">
        <figcaption class="mt-8 text-center md:text-right"><span class="bg-cream-300">Earliest distribution
                screen (2011)</span></figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h3 data-heading="The bridge: designing for two user groups">The bridge: designing
        for
        two user groups</h3>
    <p>Creating <em>TestFlight</em> meant designing for two very distinct user groups: developers and
        testers.
        Developers needed powerful features to manage distribution, while testers needed a seamless, intuitive way to
        install and try out beta apps, as well as easily leaving feedback. Balancing these requirements within one
        platform
        was a significant challenge.</p>
    <p>To bridge the gap, I collaborated closely with our developers, both in-house and in our user base,
        whose
        daily feedback helped me understand the workflows and data points that mattered most. For example, developers
        needed
        detailed crash logs, so we worked through several iterations until the logs displayed essential information
        without
        overwhelming the dashboard.</p>
    <p>Another challenge was adapting the <em>TestFlight</em> interface to support branching, which allows
        developers to manage different versions of an app simultaneously. GitHub was still new, and as a non-developer,
        designing an intuitive visual representation for this complex feature took a lot of discussion and iteration.
        Though
        we ultimately pivoted away from this feature, the process taught me the importance of listening to users and
        shedding my preconceptions before offering solutions.</p>
</section>

<section class="contain-wide margins-x-narrow my-16 md:my-24 grid md:grid-cols-3 gap-y-40 md:gap-y-0">
    <figure class="md:ml-4 w-full">
        <img src="/assets/images/works/testflight/tf-square-sites.png" alt="" class="rounded-md shadow-lg-flat-r z-10">
        <figcaption class="mt-8 text-center md:text-left"><span class="bg-cream-300">The redesigned, final landing page
                and app management dashboard (2013).</span></figcaption>
    </figure>
    <figure class="md:mt-48 w-full col-span-2 ">
        <img src="/assets/images/works/testflight/tf-fp-internal.png" alt="" class="rounded-md shadow-lg-flat-r">
        <figcaption class="mt-8 text-center md:text-left"><span class="bg-cream-300">TestFlight and FlightPath, its new
                companionm, setting a new standard.</span></figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h3 data-heading="To beta and beyond: expanding into the SkyRocket Suite">Beyond beta: expanding into the
        SkyRocket
        Suite</h3>
    <p>As <em>TestFlight</em> grew exponentially over a year or so, our free service had developed a loyal
        user
        base who relied on it as a vital tool for their business. Around that time, we were acquired by Burstly, a
        company
        focused on monetization in mobile apps. While Burstly was part of our journey from the beginning, the
        acquisition
        gave <em>TestFlight</em> the resources to expand into something even bigger—a suite of tools to support
        developers
        through every phase of app development.</p>
    <p>This expansion was a transformative period for me professionally. My role shifted from designing a
        single
        product to directing the design of an entire suite, including <em>FlightPath</em> (for analytics) and
        <em>SkyRocket</em> (for monetization)—not to mention creating branded elements for our new office. Designer
        Björgvin
        Friðgeirsson and data specialist Brian Suda were building <em>FlightPath</em> in a sleek, minimal style, with a
        sharp focus on displaying complex analytics in a clear, actionable way.
    </p>
    <p>I combined the original <em>TestFlight</em> vibe, including Vanja’s characters, with this minimal
        approach
        to create a design system (a term that wasn’t widely used at the time) that guided the development of
        <em>SkyRocket</em> and overhaul of <em>TestFlight</em>. The new branding also included new app icons, designed
        by
        Björgvin and me, which stayed true to the product’s roots but evolved to reflect its broader capabilities.
    </p>
</section>

<section class="relative contain-wide margins-x-narrow my-16 md:my-24 flex flex-col">
    <figure class="w-full md:w-3/5">
        <img src="/assets/images/works/testflight/new-icons.png" alt="" class="w-full rounded-md">
        <figcaption></figcaption>
    </figure>
    <figure class="w-full md:w-3/5 place-self-end">
        <img src="/assets/images/works/testflight/characters.png" alt=""
            class="w-full rounded-md shadow-md-flat-r lg:rotate-1">
        <figcaption class="mt-8 text-center md:text-left"><span class="bg-cream-300">The SkyRocket and FlightPath
                mascots. The final phase of SkyRocket was rave-tastic.</span></figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h3 data-heading="The Impact and Legacy of a beloved tool">The Impact and Legacy of a beloved tool</h3>
    <p>Our unique approach to blending utility and personality fueled <em>TestFlight’s</em> rapid growth. At
        events like WWDC, more and more developers were wearing our T-shirts, placing our stickers on their laptops, and
        posting praise for the app. These gestures weren’t just marketing; they were a testament to the community we’d
        built. Developers didn’t just use <em>TestFlight</em>; they loved it and connected with it on a personal level.
        We
        got messages daily from devs asking to pay for it, simply to ensure it would stick around</p>
    <p>As our user base grew, I continued refining the interface, bringing insights from <em>FlightPath</em>
        and
        <em>SkyRocket</em> back to <em>TestFlight</em> to improve navigation, data accessibility, and ease of use. Each
        new
        release strengthened the platform and expanded its reach, establishing <em>TestFlight</em> as an
        industry-standard
        tool.
    </p>
    <p>Apple’s acquisition of <em>TestFlight</em> in 2014 was the logical (and best possible) conclusion.
        Seeing
        Apple
        adopt <em>TestFlight</em> and retain much of its branding was a powerful validation of the work we had done.
        While
        stepping away from the project was bittersweet, I left knowing that we had created something that would endure.
        The
        experience taught me that when you design with empathy, bringing both personality and functionality to the
        table,
        you create products that resonate deeply with users.</p>
</section>

<section class="relative contain-narrow margins-x-narrow my-16 md:my-24">
    <figure class="w-full">
        <img src="/assets/images/works/testflight/wwdc.png" alt="" class="rounded-md w-full">
        <figcaption class="mt-8 text-center"><span class="bg-cream-300">Our gang and the shirts, the WWDC taco truck and
                some folks proudly rocking their TF shirt at WWDC <em>(photo by <a href="https://x.com/koedal"
                        target="_blank" rel="noopener noreferrer">Koedal</a>)</em></span></figcaption>
    </figure>
</section>

<section class="contain-narrow margins-x-wide">
    <h3 data-heading="What I learned from TestFlight">What I learned from TestFlight</h3>
    <ul>
        <li><strong>Design with empathy</strong>: Understanding the unique needs of both developers and
            testers
            allowed us to create a tool that felt both powerful and approachable.<br>
        </li>
        <li><strong>Balance functionality with personality</strong>: <em>TestFlight</em>’s playful branding
            helped set it apart in a technical field, making the product more memorable and engaging for users.<br>
        </li>
        <li><strong>Listen and iterate</strong>: Collaborating closely with in-house developers and gathering
            regular user feedback helped us refine the interface and stay aligned with evolving workflows.<br>
        </li>
        <li><strong>Build a cohesive design system</strong>: Expanding <em>TestFlight</em> into the
            <em>SkyRocket</em> suite required a scalable design system that maintained brand consistency while
            accommodating
            new tools like <em>FlightPath</em> and <em>SkyRocket</em>.<br>
        </li>
        <li><strong>Create a community around your product</strong>: The genuine connection users felt with
            <em>TestFlight</em> turned them into advocates, helping the product grow and become an essential part of the
            app
            development ecosystem.<br>
        </li>
        <li><strong>Leave a lasting legacy</strong>: Building a product that resonated deeply with users
            helped
            ensure its continued success—even after Apple’s acquisition.<br>
        </li>
    </ul>
    <p>These principles remain central to my approach in creating products that are both impactful and
        beloved by
        users.</p>
</section>