---
layout: "base.njk"
---
<main class="relative min-h-screen flex flex-col bg-lavender transition-colors duration-700 overflow-hidden"
    data-bg-scroll>
    <div class="w-full max-w-5xl mx-auto px-4 md:px-6">
        <div class="pt-6 pb-12 md:pt-10 md:pb-20">

            <!-- Sky section -->
            <section data-bg-class="bg-lavender">
                <!-- ... content .... -->
            </section>

            <!-- Purple section -->
            <section data-bg-class="bg-cherry">
                <!-- ... content .... -->
            </section>

            <!-- Pink section -->
            <section data-bg-class="bg-cream">
                <!-- ... content .... -->
            </section>

            <!-- Emerald section -->
            <section data-bg-class="bg-lime">
                <!-- ... content .... -->
            </section>

        </div>
    </div>
</main>

<script src="/assets/js/scroll_anim.js"></script>