---
title: "nan.do rossi, freelance product designer"
layout: "base.njk"
---

{# Section: Intro #}
<section class="hero relative flex items-end min-h-80vh" data-bg-class="bg-lavender" aria-labelledby="intro">
  <div class="global-margins lg:max-w-6xl xl:max-w-7xl text-left flex flex-col items-start pb-20 md:pb-0">
    <h4>
      👋 Hi, I'm nando rossi — available for freelance work
    </h4>
    <h1 id="intro">
      I make soulful software that people love to use.
    </h1>
    <p class="mb-12">
      With almost 20 years of experience, I’ve helped brands like TestFlight, the Berlin Philharmonic, and Disney to
      create and evolve beloved products, through strategy, function with delight.
    </p>
    <a href="" class="button button-large">Need a designer? Let's talk!</a>
  </div>
</section>

{# Section: Creativity #}
<section class="global-margins global-margins-y columns" data-bg-class="bg-cherry" aria-labelledby="creativity">

  <header>
    <h2 class="mt-0">Turning ideas into beloved products with design, process, and creativity.
    </h2>
    <figure
      class="md:mt-16 w-full h-64 sm:h-96 md:w-3/12 md:min-w-80 md:max-w-96 window-rounded bg-[url('assets/images/nando-stairs.jpg')] bg-no-repeat bg-cover">
    </figure>
  </header>

  <div>
    <p>
      As a product designer with nearly <strong>20 years of experience</strong>—15 of those as an independent,
      remote-first professional, I've had the opportunity to work with brands like <strong>Lego, Nissan,
        Walgreens,</strong> and <strong>Mattel</strong>, and play key roles in projects such as <strong
        class=" text-cream">TestFlight</strong>,
      <strong class="text-cream"> Philharmonic,</strong> and <strong class="text-cream">Disney SpellStruck</strong>.
    </p>
    <p>
      My passion for design and process go hand-in-hand. When <strong>workflows</strong> are thoughtfully designed to
      <strong>foster creativity</strong>, open communication, and collaboration, you get surprising outcomes—and
      <strong>products people love</strong>.
    </p>
    <p>
      Let’s bring your vision to life and create the next success story together.
    </p>
  </div>
</section>

{# Section: Work #}
<section class="global-margins" data-bg-class="bg-lime" aria-labelledby="selected-works">
  <header>
    <h1 id="selected-works" class="mb-24">Selected Works</h1>
  </header>
  <!-- Grid for work cards -->
  <div class="grid grid-cols-12 gap-y-16 md:gap-y-24">

    <!-- card 1 -->
    <article class="card window-rounded md:col-span-10">
      <div class="card-illustration"></div>
      <div class="card-contents">
        <header>
          <span class="category">Game Dev</span>
          <h4>Disney SpellStruck, a twist on a classic—with your favorite
            characters.
          </h4>
        </header>
        <small>Working with indie Artist Arcade and the lead developer
          of
          <strong>Words
            With Friends</strong>, I helped create
          and launch this exciting word puzzle for Disney. I brought focus on usability and modularity, setting things
          up for continuous expansion through the years.</small>
        <a href="#" class="button button-small">Read the whole
          story</a>
      </div>
    </article>

    <!-- card 2 -->
    <article class="card window-rounded md:col-start-2 lg:col-start-5 md:col-span-10 lg:col-span-8">
      <div class="card-illustration"></div>
      <div class="card-contents">
        <header>
          <span class="category">App Testing Platform</span>
          <h4>TestFlight: supporting the early mobile ecosystem, a story of product longevity.
          </h4>
        </header>
        <small>Now a standard Apple developer tool, TestFlight started with a small team of engineers and designers with
          a vision: to turn a hack into a free, accessible tool to empower coders. Our designers were there from
          inception to acquisition, helping turn the platform into a full suite to support app creators through testing,
          monetization and analytics.</small>
        <a href="#" class="button button-small">Read the whole
          story</a>
      </div>
    </article>

    <!-- card 3 -->
    <article class="card window-rounded lg:col-start-2 md:col-span-10">
      <div class="card-illustration"></div>
      <div class="card-contents">
        <header>
          <span class="category">App Design</span>
          <h4>Redefining the digital viewing landscape of the Berlin Philharmonic.
          </h4>
        </header>
        <small>A pioneer in its category, the Berlin Philharmonic's subscription service is available on most platforms.
          In a highly fragmented environment, I helped solve the difficult problems of user experience consistency,
          maintainability and team inclusion leading to increased user satisfaction and subscriptions.</small>
        <a href="#" class="button button-small">Read the whole
          story</a>
      </div>
    </article>
  </div>
</section>

{# Section: My Services #}
<section class="global-margins grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-16" data-bg-class="bg-lavender"
  aria-labelledby="services">
  <h2 id="services">Services</h2>
  <div>
    <article>
      <header>
        <h3>Direction &amp; Strategy Consultation</h3>
      </header>
      <p>Pointing your business towards the bigger picture by setting out strategical goals for your team and product.
      </p>
    </article>

    <article>
      <header>
        <h3>Product Design &amp; Prototyping</h3>
      </header>
      <p>I’ll guide your team through the entire product development process, from initial sketches to market launch.
        I'll
        help identify and solve production bottlenecks, create rapid prototypes for testing and presentations, and
        provide
        strategy, wireframing, and hands-on design. Whether working directly or with my talented partners, we'll
        ensure
        your project receives expert attention at every stage.</p>
    </article>

    <article>
      <header>
        <h3>Workshops</h3>
      </header>
      <p>Workshops can be pivotal for team-building, as well as identifying and solving problems remotely and on-site
        according to your requirements. My Foundation Workshop is a great starting point for any project (or a great
        standalone tool). Using elements from Design Thinking, Design Sprints and HCD, we can map out challenges and
        direction by leveraging the greatest experts on your product—your team.</p>
    </article>

    <article>
      <header>
        <h3>UX for Game Dev</h3>
      </header>
      <p>As a tech designer, I love to cross-pollinate. I can enhance your game development process by creating
        intuitive,
        engaging player experiences. I'll design user-friendly interfaces, streamline gameplay mechanics, and craft
        compelling user journeys. My expertise in scalable design systems enables rapid prototyping and faster
        implementation. I also prioritize usability and accessibility, ensuring your game appeals to a broad audience.
        Through user testing and iterative design, I'll help resolve issues early, optimizing player satisfaction
        while
        saving time and resources.</p>
    </article>
  </div>
</section>

{# Section: Testimonials #}
<section class="global-margins" data-bg-class="bg-cream" aria-labelledby="testimonials">
  <h2 id="testimonials">What People Are Saying</h2>
  <blockquote>
    <p>Nando is an incredibly insightful designer who takes a user-centered approach, ensuring product success.</p>
    <footer>
      <cite>Jane Doe, Project Manager</cite>
    </footer>
  </blockquote>
  <blockquote>
    <p>He was instrumental in designing experiences that not only worked but also brought joy to users.</p>
    <footer>
      <cite>John Smith, Developer</cite>
    </footer>
  </blockquote>
  <blockquote>
    <p>Working with Nando brought out the best in our project—his focus on empathy is truly what makes a difference.
    </p>
    <footer>
      <cite>Sarah Lee, UX Researcher</cite>
    </footer>
  </blockquote>
</section>

{# Section: Contact #}
<section aria-labelledby="contact" class="global-margins columns columns-third" data-bg-class="bg-lime">
  <div>
    <h2 id="contact">Reach Out</h2>
    <p>Please feel free to ask questions and make quote requests through the form on this page. I will contact you as
      soon as possible to continue our talk.</p>
    <div>
      <a href="#" class="bg-black text-white rounded-full w-12 h-12 flex items-center justify-center">git</a>
      <a href="#" class="bg-black text-white rounded-full w-12 h-12 flex items-center justify-center">drib</a>
      <a href="#" class="bg-black text-white rounded-full w-12 h-12 flex items-center justify-center">linked</a>
    </div>
  </div>
  <form>
    <label for="topic">Topic</label>
    <select id="topic" class="p-2 border">
      <option value="consultation">Consultation</option>
      <option value="freelance">Freelance</option>
      <option value="full-time">Full-Time</option>
    </select>

    <label for="email">Your Email</label>
    <input type="email" id="email" name="email" class="p-2 border">

    <label for="message">Your Message</label>
    <textarea id="message" name="message" class="p-2 border"></textarea>

    <button type="submit" class="bg-black text-white py-2 px-4 mt-4">Send Message</button>
  </form>
</section>

<script src="{{ 'assets/js/scroll_anim.js' | url }}"></script>