---
title: "nan.do rossi, freelance product designer"
layout: "base.njk"
---

{# Section: Intro #}
<section class="hero px-5 md:px-16 relative flex items-end min-h-90vh xl:max-w-screen-2xl mx-auto"
  data-bg-class="bg-lavender" aria-labelledby="intro">
  <div class="lg:max-w-6xl xl:max-w-7xl text-left flex flex-col items-start pb-5 md:pb-0">
    <h4>
      👋 Hi, I'm nando rossi <wbr>— available for freelance work
    </h4>
    <h1 id="intro">
      I make soulful software <wbr>that people love to use.
    </h1>
    <p>
      With almost 20 years of experience, I’ve helped brands like TestFlight, the Berlin Philharmonic, and Disney to
      create and evolve beloved products, through strategy, function with delight.
    </p>
    <a href="" class="button button-large">Need a designer? Let's talk!</a>
  </div>
</section>

{# Section: Creativity #}
<section class="global-margins global-margins-y columns" data-bg-class="bg-cherry" aria-labelledby="creativity">

  <header>
    <h2 class="mt-0">Turning ideas into beloved products with design, process, and creativity.
    </h2>
    <figure
      class="md:mt-16 w-full h-64 sm:h-96 md:w-3/12 md:min-w-80 md:max-w-96 window-rounded bg-[url('assets/images/nando-stairs.jpg')] bg-no-repeat bg-cover">
    </figure>
  </header>

  <div>
    <p>
      As a product designer with nearly <strong>20 years of experience</strong>—15 of those as an independent,
      remote-first professional, I've had the opportunity to work with brands like <strong>Lego, Nissan,
        Walgreens,</strong> and <strong>Mattel</strong>, and play key roles in projects such as <strong
        class=" text-cream">TestFlight</strong>,
      <strong class="text-cream"> Philharmonic,</strong> and <strong class="text-cream">Disney SpellStruck</strong>.
    </p>
    <p>
      My passion for design and process go hand-in-hand. When <strong>workflows</strong> are thoughtfully designed to
      <strong>foster creativity</strong>, open communication, and collaboration, you get surprising outcomes—and
      <strong>products people love</strong>.
    </p>
    <p>
      Let’s bring your vision to life and create the next success story together.
    </p>
  </div>
</section>

{# Section: Work #}
<section class="global-margins" data-bg-class="bg-cherry" aria-labelledby="selected-works">
  <header>
    <h1 id="selected-works" class="mb-24">Selected Works</h1>
  </header>
  <!-- Grid for work cards -->
  <div class="grid grid-cols-12 gap-y-16 md:gap-y-24">

    <!-- card 1 -->
    <article class="card window-rounded window-rounded-margins md:col-span-10 lg:col-span-10">
      <div class="card-illustration bg-[url('assets/images/works-spellstruck-keyart.png')]">
      </div>
      <div class="card-contents">
        <header>
          <span class="category">Game Dev</span>
          <h6>Disney SpellStruck, a twist on a classic—with your favorite
            characters.
          </h6>
        </header>
        <small>Working with indie Artist Arcade and the lead developer
          of
          <strong>Words
            With Friends</strong>, I helped create
          and launch this exciting word puzzle for Disney. I brought focus on usability and modularity, setting things
          up for continuous expansion through the years.</small>
        <a href="#" class="button button-small">Read the whole
          story</a>
      </div>
    </article>

    <!-- card 2 -->
    <article
      class="card window-rounded window-rounded-margins md:col-start-3 lg:col-start-4 md:col-span-10 lg:col-span-10">
      <div class="card-illustration bg-[url('assets/images/works-testflight-thumb.png')]"></div>
      <div class="card-contents">
        <header>
          <span class="category">App Testing Platform</span>
          <h6>TestFlight: supporting the early mobile ecosystem, a story of product longevity.
          </h6>
        </header>
        <small>Now a standard Apple developer tool, TestFlight started with a small team of engineers and designers with
          a vision: to turn a hack into a free, accessible tool to empower coders. Our designers were there from
          inception to acquisition, helping turn the platform into a full suite to support app creators through testing,
          monetization and analytics.</small>
        <a href="#" class="button button-small">Read the whole
          story</a>
      </div>
    </article>

    <!-- card 3 -->
    <article class="card window-rounded window-rounded-margins md:col-span-10 lg:col-span-10">
      <div class="card-illustration bg-[url('assets/images/works-dch-thumb.png')]"></div>
      <div class="card-contents">
        <header>
          <span class="category">App Design</span>
          <h6>Redefining the digital viewing landscape of the Berlin Philharmonic.
          </h6>
        </header>
        <small>A pioneer in its category, the Berlin Philharmonic's subscription service is available on most platforms.
          In a highly fragmented environment, I helped solve the difficult problems of user experience consistency,
          maintainability and team inclusion leading to increased user satisfaction and subscriptions.</small>
        <a href="#" class="button button-small">Read the whole
          story</a>
      </div>
    </article>
  </div>
</section>

{# Section: My Services #}
<section class="global-margins grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-5 md:gap-16" data-bg-class="bg-cream"
  aria-labelledby="services">
  <h1 id="services">Services</h1>
  <div>
    <article>
      <header>
        <h3>Direction &amp; Strategy Consultation</h3>
      </header>
      <p>Pointing your business towards the bigger picture by setting out strategical goals for your team and product.
      </p>
    </article>

    <article>
      <header>
        <h3>Product Design &amp; Prototyping</h3>
      </header>
      <p>I’ll guide your team through the entire product development process, from initial sketches to market launch.
        I'll
        help identify and solve production bottlenecks, create rapid prototypes for testing and presentations, and
        provide
        strategy, wireframing, and hands-on design. Whether working directly or with my talented partners, we'll
        ensure
        your project receives expert attention at every stage.</p>
    </article>

    <article>
      <header>
        <h3>Workshops</h3>
      </header>
      <p>Workshops can be pivotal for team-building, as well as identifying and solving problems remotely and on-site
        according to your requirements. My Foundation Workshop is a great starting point for any project (or a great
        standalone tool). Using elements from Design Thinking, Design Sprints and HCD, we can map out challenges and
        direction by leveraging the greatest experts on your product—your team.</p>
    </article>

    <article>
      <header>
        <h3>UX for Game Dev</h3>
      </header>
      <p>As a tech designer, I love to cross-pollinate. I can enhance your game development process by creating
        intuitive,
        engaging player experiences. I'll design user-friendly interfaces, streamline gameplay mechanics, and craft
        compelling user journeys. My expertise in scalable design systems enables rapid prototyping and faster
        implementation. I also prioritize usability and accessibility, ensuring your game appeals to a broad audience.
        Through user testing and iterative design, I'll help resolve issues early, optimizing player satisfaction
        while
        saving time and resources.</p>
    </article>
  </div>
</section>

{# Section: Logos #}

{# Section: Testimonials #}
<section class="global-margins min-h-80vh" data-bg-class="bg-lavender" aria-labelledby="testimonials">
  <h1 class="mb-24" id="testimonials">People Talking</h1>

  <div
    class="grid grid-cols-1 max-sm:window-rounded max-sm:p-4 max-sm:bg-cream sm:grid-cols-2 w-full lg:w-9/12 gap-12 m-auto">
    <blockquote
      class="sm:bg-cream sm:window-rounded window-rounded-margins w-full max-sm:pb-12 max-sm:border-b border-obsidian">
      <p class="leading-snug text-center">"Nando is an incredibly insightful designer who takes a user-centered
        approach, ensuring
        product success."</p>
      <footer class="w-10/12 sm:w-4/6 flex flex-row items-start gap-x-6 items-stretch z-10 mx-auto">
        <div class="bg-lime border-obsidian border-2 w-16 h-16 rounded-full"></div>
        <cite class="grow not-italic text-left">
          <strong>– Jane Doe</strong><br>
          <em>Project Manager</em>
        </cite>
      </footer>
    </blockquote>

    <blockquote
      class="sm:bg-cream sm:window-rounded window-rounded-margins w-full max-sm:pb-12 max-sm:border-b border-obsidian z-20">
      <p class="leading-snug text-center">"He was instrumental in designing experiences that not only worked but also
        brought joy to
        users."</p>
      <footer class="w-10/12 sm:w-4/6 flex flex-row items-start gap-x-6 items-stretch z-10 mx-auto">
        <div class="bg-lime border-obsidian border-2 w-16 h-16 rounded-full"></div>
        <cite class="grow not-italic text-left">
          <strong>– John Smith</strong><br>
          <em>Developer</em>
        </cite>
      </footer>
    </blockquote>

    <blockquote
      class="sm:bg-cream sm:window-rounded window-rounded-margins w-full max-sm:pb-12 max-sm:border-b border-obsidian z-30">
      <p class="leading-snug text-center">"Working with Nando brought out the best in our project—his focus on empathy
        is truly what
        makes a difference."</p>
      <footer class="w-10/12 sm:w-4/6 flex flex-row items-start gap-x-6 items-stretch z-10 mx-auto">
        <div class="bg-lime border-obsidian border-2 w-16 h-16 rounded-full"></div>
        <cite class="grow not-italic text-left">
          <strong>– Sarah Lee</strong><br>
          <em>UX Researcher</em>
        </cite>
      </footer>
    </blockquote>

    <blockquote class="sm:bg-cream sm:window-rounded window-rounded-margins w-full max-sm:pb-12 z-40">
      <p class="leading-snug text-center">"Nando is an incredibly insightful designer who takes a user-centered
        approach, ensuring
        product success."</p>
      <footer class="w-10/12 sm:w-4/6 flex flex-row items-start gap-x-6 items-stretch z-10 mx-auto">
        <div class="bg-lime border-obsidian border-2 w-16 h-16 rounded-full"></div>
        <cite class="grow not-italic text-left">
          <strong>– Jane Doe</strong><br>
          <em>Project Manager</em>
        </cite>
      </footer>
    </blockquote>
  </div>
</section>

{# Section: Contact #}
<section aria-labelledby="contact" class="global-margins" data-bg-class="bg-lime">
  <div class="grid grid-cols-1 md:grid-cols-8">
    <div class="md:col-span-4">
      <h2 class="mt-0" id="contact">Let's Collaborate! Reach Out for a Quote or Project Discussion.</h2>
      <p>I'm available for freelance design projects, consulting, and workshops. <br>I also love giving talks and
        offering
        mentorships, let’s chat!</p>
    </div>
    <div class="md:col-start-6 md:col-span-3 flex flex-col items-start sm:gap-y-4 lg:gap-y-6">
      <h4 class="mt-8 md:m-0 max-sm:text-3xl">Contact Me</h4>

      <a href="#" class="contact-button max-sm:w-full flex">
        <div class="flex items-center mx-auto">
          <h5>talk@nan.do</h5> <img src="assets/images/icon-copy.svg" class="w-8 ml-4" alt="Copy My Email">
        </div>
      </a>

      <ul class="flex flex-row items-start gap-8 max-sm:mt-20">
        <li><img src="assets/images/social-linkedin.svg" class="w-12" alt="linkedin"></li>
        <li><img src="assets/images/social-threads.svg" class="w-12" alt="threads"></li>
        <li><img src="assets/images/social-dribbble.svg" class="w-12" alt="dribbble"></li>
      </ul>
    </div>
  </div>

</section>

<script src="{{ 'assets/js/scroll_anim.js' | url }}"></script>